*.swp
*.DS_Store
__pycache__/
.cache/
compile_commands.json
build/
debug/
release/
*.zst
*.tmp
*.npy
L/
.clangd
trained_models/
processZst
!processZst/
resizeMMap
!resizeMMap/
filterData
!filterData/
